<h1>All Flats</h1>

<% @flats.each do |flat|  %>
  <h2><%= flat["name"] %></h2>
  <img src="<%= flat["imageUrl"] %>" alt="flat">
  <p><%= flat["price"] %></p>
  <p><%= flat["priceCurrency"] %></p>
<% end %>
